Port=4141
MONGODB_URI=
JWT_SECRET=your_jwt_secret
CORS_ORIGIN=http://localhost:3000


# Firebase
FIREBASE_PROJECT_ID=your-project-id
FIREBASE_CLIENT_EMAIL=your-client-email
FIREBASE_PRIVATE_KEY="your-private-key"